@import "../../global.scss";
.intro{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include mobile {
        flex-direction: column;
    }
    .profile{
        border-radius: 50%;
        margin: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .wrapper {
        flex: 0.50;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: justify;
        margin: 4vh;
        @include mobile {
            flex: 1;
            margin-left: 80px;
        }
        .hireme {
            margin-top: 20px;
            color: white;
            height: 50px;
            width: 100px;
            border-radius: 20px;
            border: none;
            background: linear-gradient(90deg, #673ab7 0%, #512da8 100%);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        h1 {
            font-size: 60px;
            margin: 10px 0;
            color: white;
            @include mobile {
                font-size: 40px;
            }
        }
        h2 {
            font-size: 35px;
            color: white;
            @include mobile {
                font-size: 25px;
            }
        }
        h3 {
            font-size: 30px;
            span {
                font-size: inherit;
                color: crimson;
            }
            .ityped-cursor {
                animation: blink 1s infinite;
            }

            @keyframes blink {
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
    }
}
